/*Utilizar o figma como parâmetro*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); /*Fonte baixada do Google*/
@import url('https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Tiro+Devanagari+Hindi&display=swap')

*{ /*Código padrão do css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{ /*Utilizar ponto para classes*/
width: 1200px;
margin: 0 auto;
}

.cabecalho{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{ /*Distância entre os links e a logo*/
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.menu a{
    color:#E9D204;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto; /*Chama a fonte Roboto*/
    font-size: 35px;

}

header{
    background-color: black; /*Cor de fundo do cabeçalho*/
    height: 82px; /*Informação do figma*/
    padding-top: 20px; /*Espaçamento entre a logo e o topo do cabeçalho*/
}

a{
    color: chartreuse; /*Todos os caracteres ficam com essa cor*/
}

.banner{
    height: 603px;
        width: 100%;
    background-image:url(../img/banner-zelda.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.conteudo-banner h1{
    color: black;
    font-size: 80px;
    font-family: Tiro+Devanagari+Hindi;
    text-decoration: none;
}
.conteudo-banner p{
    color: black;
    font-size: 30px;
    font-family: Roboto;
    text-decoration: none;
}

.conteudo-banner {
    width: 518px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.posicionamento-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}