/*Utilizar o figma como parâmetro*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); /*Fonte baixada do Google*/
@import url('https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Tiro+Devanagari+Hindi&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{ /*Utilizar ponto para classes*/
     width: 1200px;
    margin: 0 auto;
}

#barras{
    display: none; /*Comando para aparecer somente no menu hamburguer*/
}

.cabecalho{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone-menu{
    height: 40px;
}

.menu{ /*Distância entre os links e a logo*/
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color:#E9D204;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto; /*Chama a fonte Roboto*/
    font-size: 35px;
}

header{
    background-color: black; /*Cor de fundo do cabeçalho*/
    height: 82px; /*Informação do figma*/
    padding-top: 20px; /*Espaçamento entre a logo e o topo do cabeçalho*/
}

a{
    color: chartreuse; /*Todos os caracteres ficam com essa cor*/
}

.banner{ /*Configuração do banner (imagem)*/
    height: 603px;
    width: 100%;
    background-image:url(../img/banner-zelda.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.conteudo-banner h1{ /*Configuração do título*/
    color: black;
    font-size: 100px;
    font-family: Tiro+Devanagari+Hindi;
    text-decoration: none;
}
.conteudo-banner p{ /*Configuração do parágrafo*/
    color: black;
    font-size: 30px;
    font-family: Roboto;}
 
.conteudo-banner { /*Configuração do Título e Parágrafo como um todo*/
    width: 540px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.posicionamento-banner{ /*Configuração da posição do Título+Paragrafo no banner*/
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    height: 100%;
}

.jogos{ /*Posicionamento da barra de jogos*/
    background-color: black;
    height: 121px;
}

.jogos a{ /*Configuração de Links de jogos*/
    color: #E9D204;
    font-family: Roboto;
    font-size: 35px;
    text-decoration: none;
}

.posicionamento-jogos{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1200px) {/*Responsividade de acordo com o tamanho de tela*/
    .container-grid{
        width: 1000px;
    }
}

/*Menu hamburguer*/
@media screen and (max-width: 1000px) {
    .container-grid{
        width: 800px;
    }
    
    #barras{ /*Inclusão do menu barras para que apareça somente no menu hamburguer*/
        display: inline-block;
    }

    .cabecalho{
        position: relative;
    }

    .menu{
        display: none; /*Comando para que o menu apareça não sobrepondo o menu barras*/
        position: absolute;
        top: 91px;
        right: 0px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: black;
        height: 300px;
    }

    .menu-ativo{ /*Configuração para ativar o Jquery menu ativo*/
        display: flex;
    }
    
    .menu a{
        font-size: 20px;
    }
}